#mainNav {
  background-color: #ffdfb5;
}

.bg-dark {
  background-color: #5b3925!important;
}

.bg#team {
  background-color: #89573b!important;
}

.text-mutedt {
  color: #ffffff!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #5b3925!important;
  border-color: #ffdfb5!important;
  color: #ffdfb5;
}

#team {
  background-color: #ffdfb5!important;
}

.bg-light {
  background-color: #89573b!important;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior: smooth;
}

#txt {
  color: #000000!important;
}

.text-muted {
  color: #ffffff!important;
}

a:hover {
  color: #ffdfb5;
}

a:hover {
  color: #ffdfb5;
  text-decoration: underline;
}

a {
  color: #ffdfb5;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffdfb5;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #031cfe;
  border-color: #000000;
}

.btn-primary {
  color: #89573b;
  background-color: #ffdfb5;
  border-color: #89573b;
}

a:hover {
  color: #6c591a;
}

a:hover {
  color: #e6b301;
  text-decoration: underline;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #89573b;
}

